mainmenu "RT-Thread Configuration"

config BSP_DIR  
    string
    option env="BSP_ROOT"
    default "."

# local path see rt-thread current postion
config RTT_DIR
    string
    option env="RTT_ROOT"
    default "./rt-thread"

config PKGS_DIR
    string
    option env="PKGS_ROOT"
    default "./packages"

source "$RTT_DIR/Kconfig"
source "$PKGS_DIR/Kconfig"
source "$BSP_DIR/libraries/Kconfig"
source "$BSP_DIR/applications/tft/Kconfig"

config RT_STUDIO_BUILT_IN
    bool
    select ARCH_ARM_CORTEX_M7
    select RT_USING_COMPONENTS_INIT
    select RT_USING_USER_MAIN
    default y
